Workflows/IA_Agent_Gmail_Manager__Sort_Incoming_Emails.json
{
  "updatedAt": "2026-05-21T21:31:29.918Z",
  "createdAt": "2026-05-21T21:02:46.184Z",
  "id": "XGDCoTWkZ8WVBNOG",
  "name": "IA Agent Gmail Manager: Sort Incoming Emails",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        560
      ],
      "id": "216b9372-98b3-45b0-970e-c4a6fd6454fc",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "qhyfEQpUyxP5h9pw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email_label\": \"business\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        848,
        784
      ],
      "id": "20086189-154b-441b-a8f6-0b71d38acedb",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84ec2be6-ad6b-4ad4-8f8b-d31fafbfad20",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "priority",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Priority"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b600943-3604-4851-b84d-4da0948da2ef",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "personal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Personal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7f28656-aeab-4b2f-bd32-6111cb56ecc1",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "notifications",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Notifications"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c14ca3c0-ef10-45b5-8acb-f0d0c1339624",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "newsletters",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2673ebe3-59ce-4105-9fe9-e4beeb8f3148"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Business"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0f6a9a2-fff0-4e7b-aed5-49887cb511eb",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "administrative",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Administrative"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "617af759-fada-4a67-bc06-be2b0b40989b",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1024,
        480
      ],
      "id": "088135dc-6704-4fc4-9b5b-7dbf06c7ec1c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "# Sort Incoming Emails",
        "height": 1320,
        "width": 1660
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "4ab37d86-d66d-483c-9fb8-71a7aaa85f31",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c287523-4ae2-43c4-8f9a-faf756f01855",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "Label",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        464,
        560
      ],
      "id": "dd155a44-b0bc-457b-bf10-f5a4ba4b774e",
      "name": "Label Checker"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.subject }}\nDescription: {{ $json.text }}\nSender: {{ $json.from.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=** Your Role **\nYou are an intelligent email assistant responsible for sorting incoming messages. Your task is to analyze the content, subject, and sender of each email and assign it to the appropriate category.\n\n** Categories **\nCategories for sorting:\n\n- priority: messages requiring immediate attention (from supervisors, clients)\n- business: correspondence related to current projects, contracts, meetings\n- newsletters: newsletter issues\n- administrative: invoices, contracts, formal documents\n- personal: private messages not related to work\n- notifications: messages from social media, Substack, Coinbase, YouTube\n- spam: unwanted messages, suspicious offers\n\n** Instructions **\nFor each email:\n\n- Analyze the content, subject, and sender\n- Assign it to the appropriate category\n- Add a label with the category\n- If you are unsure, do not label the message\n\n** Response Format **\nAlways return the result in JSON format:\n\n{\n  \"email_label\": \"business\"\n}\n\nIMPORTANT – the response must always be in lowercase."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        672,
        560
      ],
      "id": "0859a5cc-0063-4bc0-b920-cc0e03604f5e",
      "name": "Give a Label1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_125258354434871093"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        944
      ],
      "id": "593d1a46-bbb2-41ec-8bc9-2fa499c8fdcf",
      "name": "Administrative",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "qhyfEQpUyxP5h9pw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_498548493936868391"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        128
      ],
      "id": "884f2eca-f3d8-4e09-9ef7-a4f72f52e16a",
      "name": "Priority",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "qhyfEQpUyxP5h9pw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_41"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        784
      ],
      "id": "e270020a-6232-44c5-bf42-4ff079752ce0",
      "name": "Business",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "qhyfEQpUyxP5h9pw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_42"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        624
      ],
      "id": "33555412-d0c1-4029-aba4-5d11424696fd",
      "name": "Newsletter",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "qhyfEQpUyxP5h9pw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5009699674848382269"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        288
      ],
      "id": "02805c32-377b-424c-8cf6-988d759d2bbd",
      "name": "Personal",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "qhyfEQpUyxP5h9pw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_43"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        448
      ],
      "id": "a433212f-aa4e-4f36-b85d-46ee5ff1671e",
      "name": "Notifications",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "qhyfEQpUyxP5h9pw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "SPAM"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        1104
      ],
      "id": "2ea275a0-4532-4ca9-ae05-38e2fdde2172",
      "name": "Spam",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "qhyfEQpUyxP5h9pw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        784
      ],
      "id": "1d559303-d020-4ccf-a16e-b35d7cecf619",
      "name": "Poe Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "b0hpZcbZ3Tt2bz5t",
          "name": "OpenAI (n8n)"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Label Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Give a Label1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notifications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Administrative",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label Checker": {
      "main": [
        [
          {
            "node": "Give a Label1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Give a Label1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poe Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Give a Label1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1779399108
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5c9096a6-986f-459b-b0cb-8806d1e295cf",
  "activeVersionId": "5c9096a6-986f-459b-b0cb-8806d1e295cf",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-21T21:02:46.184Z",
      "createdAt": "2026-05-21T21:02:46.184Z",
      "role": "workflow:owner",
      "workflowId": "XGDCoTWkZ8WVBNOG",
      "projectId": "1Wx1foBxVC549zxe"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-21T21:31:48.840Z",
    "createdAt": "2026-05-21T21:31:29.919Z",
    "versionId": "5c9096a6-986f-459b-b0cb-8806d1e295cf",
    "workflowId": "XGDCoTWkZ8WVBNOG",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyX",
                "value": 15,
                "unit": "minutes"
              }
            ]
          },
          "simple": false,
          "filters": {},
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          560
        ],
        "id": "216b9372-98b3-45b0-970e-c4a6fd6454fc",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": {
            "id": "qhyfEQpUyxP5h9pw",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"email_label\": \"business\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          848,
          784
        ],
        "id": "20086189-154b-441b-a8f6-0b71d38acedb",
        "name": "Structured Output Parser1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "84ec2be6-ad6b-4ad4-8f8b-d31fafbfad20",
                      "leftValue": "={{ $json.output.email_label }}",
                      "rightValue": "priority",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Priority"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "9b600943-3604-4851-b84d-4da0948da2ef",
                      "leftValue": "={{ $json.output.email_label }}",
                      "rightValue": "personal",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Personal"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d7f28656-aeab-4b2f-bd32-6111cb56ecc1",
                      "leftValue": "={{ $json.output.email_label }}",
                      "rightValue": "notifications",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Notifications"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c14ca3c0-ef10-45b5-8acb-f0d0c1339624",
                      "leftValue": "={{ $json.output.email_label }}",
                      "rightValue": "newsletters",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Newsletter"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output.email_label }}",
                      "rightValue": "business",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "2673ebe3-59ce-4105-9fe9-e4beeb8f3148"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Business"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "f0f6a9a2-fff0-4e7b-aed5-49887cb511eb",
                      "leftValue": "={{ $json.output.email_label }}",
                      "rightValue": "administrative",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Administrative"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "617af759-fada-4a67-bc06-be2b0b40989b",
                      "leftValue": "={{ $json.output.email_label }}",
                      "rightValue": "spam",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Spam"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1024,
          480
        ],
        "id": "088135dc-6704-4fc4-9b5b-7dbf06c7ec1c",
        "name": "Switch1"
      },
      {
        "parameters": {
          "content": "# Sort Incoming Emails",
          "height": 1320,
          "width": 1660
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "4ab37d86-d66d-483c-9fb8-71a7aaa85f31",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6c287523-4ae2-43c4-8f9a-faf756f01855",
                "leftValue": "={{ $json.labelIds[0] }}",
                "rightValue": "Label",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          464,
          560
        ],
        "id": "dd155a44-b0bc-457b-bf10-f5a4ba4b774e",
        "name": "Label Checker"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Topic: {{ $json.subject }}\nDescription: {{ $json.text }}\nSender: {{ $json.from.text }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=** Your Role **\nYou are an intelligent email assistant responsible for sorting incoming messages. Your task is to analyze the content, subject, and sender of each email and assign it to the appropriate category.\n\n** Categories **\nCategories for sorting:\n\n- priority: messages requiring immediate attention (from supervisors, clients)\n- business: correspondence related to current projects, contracts, meetings\n- newsletters: newsletter issues\n- administrative: invoices, contracts, formal documents\n- personal: private messages not related to work\n- notifications: messages from social media, Substack, Coinbase, YouTube\n- spam: unwanted messages, suspicious offers\n\n** Instructions **\nFor each email:\n\n- Analyze the content, subject, and sender\n- Assign it to the appropriate category\n- Add a label with the category\n- If you are unsure, do not label the message\n\n** Response Format **\nAlways return the result in JSON format:\n\n{\n  \"email_label\": \"business\"\n}\n\nIMPORTANT – the response must always be in lowercase."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          672,
          560
        ],
        "id": "0859a5cc-0063-4bc0-b920-cc0e03604f5e",
        "name": "Give a Label1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Gmail Trigger').item.json.id }}",
          "labelIds": [
            "Label_125258354434871093"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1344,
          944
        ],
        "id": "593d1a46-bbb2-41ec-8bc9-2fa499c8fdcf",
        "name": "Administrative",
        "webhookId": "70219a19-4705-493c-9291-527655dd8099",
        "credentials": {
          "gmailOAuth2": {
            "id": "qhyfEQpUyxP5h9pw",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Gmail Trigger').item.json.id }}",
          "labelIds": [
            "Label_498548493936868391"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1344,
          128
        ],
        "id": "884f2eca-f3d8-4e09-9ef7-a4f72f52e16a",
        "name": "Priority",
        "webhookId": "70219a19-4705-493c-9291-527655dd8099",
        "credentials": {
          "gmailOAuth2": {
            "id": "qhyfEQpUyxP5h9pw",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Gmail Trigger').item.json.id }}",
          "labelIds": [
            "Label_41"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1344,
          784
        ],
        "id": "e270020a-6232-44c5-bf42-4ff079752ce0",
        "name": "Business",
        "webhookId": "70219a19-4705-493c-9291-527655dd8099",
        "credentials": {
          "gmailOAuth2": {
            "id": "qhyfEQpUyxP5h9pw",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Gmail Trigger').item.json.id }}",
          "labelIds": [
            "Label_42"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1344,
          624
        ],
        "id": "33555412-d0c1-4029-aba4-5d11424696fd",
        "name": "Newsletter",
        "webhookId": "70219a19-4705-493c-9291-527655dd8099",
        "credentials": {
          "gmailOAuth2": {
            "id": "qhyfEQpUyxP5h9pw",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Gmail Trigger').item.json.id }}",
          "labelIds": [
            "Label_5009699674848382269"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1344,
          288
        ],
        "id": "02805c32-377b-424c-8cf6-988d759d2bbd",
        "name": "Personal",
        "webhookId": "70219a19-4705-493c-9291-527655dd8099",
        "credentials": {
          "gmailOAuth2": {
            "id": "qhyfEQpUyxP5h9pw",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Gmail Trigger').item.json.id }}",
          "labelIds": [
            "Label_43"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1344,
          448
        ],
        "id": "a433212f-aa4e-4f36-b85d-46ee5ff1671e",
        "name": "Notifications",
        "webhookId": "70219a19-4705-493c-9291-527655dd8099",
        "credentials": {
          "gmailOAuth2": {
            "id": "qhyfEQpUyxP5h9pw",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Gmail Trigger').item.json.id }}",
          "labelIds": [
            "SPAM"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1344,
          1104
        ],
        "id": "2ea275a0-4532-4ca9-ae05-38e2fdde2172",
        "name": "Spam",
        "webhookId": "70219a19-4705-493c-9291-527655dd8099",
        "credentials": {
          "gmailOAuth2": {
            "id": "qhyfEQpUyxP5h9pw",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-nano",
            "mode": "list",
            "cachedResultName": "gpt-5-nano"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          624,
          784
        ],
        "id": "1d559303-d020-4ccf-a16e-b35d7cecf619",
        "name": "Poe Chat Model2",
        "credentials": {
          "openAiApi": {
            "id": "b0hpZcbZ3Tt2bz5t",
            "name": "OpenAI (n8n)"
          }
        }
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Label Checker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Give a Label1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Priority",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Personal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notifications",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Newsletter",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Business",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Administrative",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Spam",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Label Checker": {
        "main": [
          [
            {
              "node": "Give a Label1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Give a Label1": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Poe Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Give a Label1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Denisson denissongomes@outlook.com.br",
    "name": "Version 5c9096a6",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-05-21T20:37:28.711Z",
      "createdAt": "2026-05-21T20:37:28.711Z",
      "id": "abtBmqmHLAEUBw28",
      "name": "internal-infra"
    }
  ],
  "n8n_host_name ": "https://n8n.myhost.qzz.io/"
}