Workflows/IA_Agent_Gmail_Manager_(Sort_Old_Emails).json
{
  "updatedAt": "2025-11-28T11:30:58.248Z",
  "createdAt": "2025-11-27T22:38:36.492Z",
  "id": "GPMka0Ou43Qk9jkn",
  "name": "IA Agent Gmail Manager (Sort Old Emails)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c287523-4ae2-43c4-8f9a-faf756f01855",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "Label",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        592
      ],
      "id": "61148a25-eb38-4d55-9136-321b0c9f972f",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "# Sort Old Emails",
        "height": 1320,
        "width": 1920,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "21454340-877d-4006-81a0-ae10b94dfaa6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email_label\": \"business\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        992,
        816
      ],
      "id": "06d70fe0-883f-4640-8a5d-2a5f2f3c3c75",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.subject }}\nDescription: {{ $json.text }}\nSender: {{ $json.from.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=** Your Role **\nYou are an intelligent email assistant responsible for sorting incoming messages. Your task is to analyze the content, subject, and sender of each email and assign it to the appropriate category.\n\n** Categories **\nCategories for sorting:\n\n- priority: messages requiring immediate attention (from supervisors, clients)\n- business: correspondence related to current projects, contracts, meetings\n- newsletters: newsletter issues\n- administrative: invoices, contracts, formal documents\n- personal: private messages not related to work\n- notifications: messages from social media, Substack, Coinbase, YouTube\n- spam: unwanted messages, suspicious offers\n\n** Instructions **\nFor each email:\n\n- Analyze the content, subject, and sender\n- Assign it to the appropriate category\n- Add a label with the category\n- If you are unsure, do not label the message\n\n** Response Format **\nAlways return the result in JSON format:\n\n{\n  \"email_label\": \"business\"\n}\n\nIMPORTANT – the response must always be in lowercase."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        816,
        592
      ],
      "id": "44286438-b865-43ff-bcd3-7b7308b2506e",
      "name": "Give a Label",
      "retryOnFail": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84ec2be6-ad6b-4ad4-8f8b-d31fafbfad20",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "priority",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Priority"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b600943-3604-4851-b84d-4da0948da2ef",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "personal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Personal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7f28656-aeab-4b2f-bd32-6111cb56ecc1",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "notifications",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Notifications"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c14ca3c0-ef10-45b5-8acb-f0d0c1339624",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "newsletters",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2673ebe3-59ce-4105-9fe9-e4beeb8f3148"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Business"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0f6a9a2-fff0-4e7b-aed5-49887cb511eb",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "administrative",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Administrative"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "617af759-fada-4a67-bc06-be2b0b40989b",
                    "leftValue": "={{ $json.output.email_label }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1232,
        496
      ],
      "id": "e6756f28-a00b-4af6-991b-66e4cd8342d4",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_125258354434871093"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        976
      ],
      "id": "11b9b95d-1895-4b12-bcc1-70694ed775ee",
      "name": "Administrative2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ulf2YipWXYEBbvM",
          "name": "Gmail (denisson.dev)"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_498548493936868391"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        160
      ],
      "id": "3bccda86-fbc7-4644-858e-42a02549e701",
      "name": "Priority2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ulf2YipWXYEBbvM",
          "name": "Gmail (denisson.dev)"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_41"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        816
      ],
      "id": "3109bac1-d4e4-4191-b063-94d9a453f6ea",
      "name": "Business2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ulf2YipWXYEBbvM",
          "name": "Gmail (denisson.dev)"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_42"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        656
      ],
      "id": "2399b992-0d54-4a7f-925e-5e86ec5d1159",
      "name": "Newsletter2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ulf2YipWXYEBbvM",
          "name": "Gmail (denisson.dev)"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_5009699674848382269"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        320
      ],
      "id": "7ebfd135-869d-4403-8ce3-65fd127996b5",
      "name": "Personal2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ulf2YipWXYEBbvM",
          "name": "Gmail (denisson.dev)"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "Label_43"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        480
      ],
      "id": "433e13d3-c783-495e-baca-aafba4e5995a",
      "name": "Notifications2",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ulf2YipWXYEBbvM",
          "name": "Gmail (denisson.dev)"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": [
          "SPAM"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        1136
      ],
      "id": "636f4860-9335-49b5-bfdf-ceb97d109639",
      "name": "Spam1",
      "webhookId": "70219a19-4705-493c-9291-527655dd8099",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ulf2YipWXYEBbvM",
          "name": "Gmail (denisson.dev)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        144,
        592
      ],
      "id": "d67b143f-6793-4395-9388-d2952c386577",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Grok-4-Fast-Reasoning",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        816
      ],
      "id": "8604b4e8-8d78-47f8-a39d-4e9822739aa6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Duhnhs1X6eqmfHrE",
          "name": "Poe account (moneysite)"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        336,
        592
      ],
      "id": "5964c67a-989c-4dc6-9110-168ae6e8e9b1",
      "name": "Get many messages",
      "webhookId": "a0511bfe-4783-4d8a-a297-c1d75fba8f02",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ulf2YipWXYEBbvM",
          "name": "Gmail (denisson.dev)"
        }
      }
    }
  ],
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Give a Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Give a Label",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Give a Label": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Priority2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notifications2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Administrative2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spam1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Give a Label",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "df46583e-3d2c-44d0-9dc2-a8607d0deca0",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-27T22:38:36.492Z",
      "createdAt": "2025-11-27T22:38:36.492Z",
      "role": "workflow:owner",
      "workflowId": "GPMka0Ou43Qk9jkn",
      "projectId": "CK6XEsloykybki2p"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-27T22:32:06.122Z",
      "createdAt": "2025-11-27T22:32:06.122Z",
      "id": "lf6jGzaXcolij5dW",
      "name": "prod"
    },
    {
      "updatedAt": "2025-11-27T22:30:51.794Z",
      "createdAt": "2025-11-27T22:30:51.794Z",
      "id": "V4F4G6t2C5blKSYh",
      "name": "internal-infra"
    }
  ],
  "n8n_host_name ": "https://n8n.trymyapp.tech/"
}