Workflows/PDF_Summarizer.json
{
  "updatedAt": "2025-11-28T17:51:13.920Z",
  "createdAt": "2025-11-28T17:36:31.254Z",
  "id": "QFvLylMg9TswRZTe",
  "name": "PDF Summarizer",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "773cd981-5815-4159-9a21-7f317875be32",
      "name": "When chat message received",
      "webhookId": "a787f33a-5eb3-4df4-9fc6-b5ac706172d1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=PDF:  {{ $json.text }}"
            },
            {
              "content": "=Objetivo:\nVocê receberá um arquivo PDF. Sua tarefa é:\n\nProduzir um resumo detalhado, entre 1500 e 2000 palavras, destacando os pontos mais importantes para estudo.\nEm seguida, criar um quiz com 10 questões de múltipla escolha (A, B, C, D), cada uma com:\nEnunciado claro e objetivo.\nQuatro alternativas plausíveis (A–D).\nIndicação explícita da resposta correta.\nUm comentário explicativo curto citando trechos ou ideias-chave do conteúdo para justificar a resposta.\nInstruções detalhadas:\n\nLinguagem: português claro, formal, com precisão conceitual.\nPúblico-alvo: estudantes que irão revisar o conteúdo para provas.\nConsistência: garanta que cada questão se baseie diretamente no conteúdo do arquivo PDF, evitando inferências externas.\nCobertura: o resumo deve contemplar definição dos conceitos centrais, argumentos principais, evidências, exemplos relevantes, implicações práticas, controvérsias/limitações, e relações entre os tópicos.\nOrganização:\nTítulo do resumo.\nSeções com subtítulos descritivos.\nLista dos principais termos e definições (bullet points) ao final do resumo.\nQuiz após o resumo, em seção separada.\nEstilo do resumo:\nAbertura com visão geral do tema e objetivo do arquivo PDF.\nDesenvolvimento com encadeamento lógico e coesão.\nÊnfase nos pontos mais importantes para estudo (faça uma seção “Pontos-chave para revisão” com bullets).\nConclusão sintetizando aprendizados e possíveis aplicações.\nCitações: quando fizer referência a partes específicas, cite brevemente entre aspas (“...”) ou com indicação de seção/minutagem se fornecida.\nExtensão: entre 1500 e 2000 palavras (não menos que 1500 e não mais que 2000).\nQuiz:\nVarie os tipos de questão: definição, aplicação, interpretação de citação, relação de causa/efeito, verdadeiro/falso convertido em múltipla escolha.\nEm pelo menos 2 questões, use trechos literais do arquivo PDF para perguntar “A que conceito/parte se refere a seguinte passagem: ‘…’”.\nEvite alternativas óbvias; todas devem ser verossímeis.\nApós cada questão, indique:\nResposta: [A/B/C/D]\nComentário: uma breve justificativa, citando a passagem ou a ideia correspondente.\nFormatação de saída:\nUse cabeçalhos e listas para tornar o material escaneável.\nMantenha português do Brasil.\nNão inclua conteúdo não presente no arquivo PDF.\nEntrada fornecida:\n\nArquivo PDF: {{ $json.text }}.\nModelo de saída (exemplo de estrutura):\n\nResumo (1500–2000 palavras)\nTítulo\nIntrodução (contexto e objetivo)\nSeções temáticas (2–5 seções, com subtítulos)\nPontos-chave para revisão (bullet points)\nTermos e definições (bullet points)\nConclusão\nQuiz (10 questões)\nQuestão 1: [enunciado]\nA) [alternativa]\nB) [alternativa]\nC) [alternativa]\nD) [alternativa]\nResposta: [letra]\nComentário: [justificativa curta citando trecho/ideia]\n\nQuestão 2: …\n\n…\n\nQuestão 10: …\n\nCritérios de qualidade:\n\nFidelidade total ao conteúdo do arquivo PDF.\nClareza, concisão e precisão conceitual.\nAbrangência dos tópicos-chave.\nQuestões desafiadoras, com justificativas corretas e úteis para estudo.\nObservação:\nSe a transcrição estiver incompleta, indique as lacunas e evite extrapolar. Se houver minutagens, utilize-as para contextualizar as citações no resumo e nos comentários do quiz.\n\nExemplo do estilo de pergunta solicitado (adapte ao conteúdo do arquivo PDF):\n\n“A que parte do RNA se refere a seguinte parte do texto: ‘se baseia no modo como a estrutura é dada, de maneira a fazer com que o conhecimento experimental seja armazenado nessa estrutura, ou melhor dizendo, nas conexões sinápticas entre os neurônios (Haykin, 2001, p. 28).’”\nA) A estrutura.\nB) A programação.\nC) Ao texto.\nD) Ao algoritmo de aprendizagem.\nResposta: D\nComentário: “O algoritmo de aprendizagem, por sua vez, se baseia no modo como a estrutura é dada...”\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        432,
        0
      ],
      "id": "7a354419-bd31-42fd-bc23-ad431a65bcfe",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "bXFcfCNGnqC05tFo",
          "name": "OpenAi account (n8n-demo)"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "0a270b5c-ab4c-4ac8-80cd-9a40191153fa",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "folderId": "=14fNRjKaLEHEsSP019F5GqRmPkVYGsaXl",
        "title": "={{ $json.message.content.substr(0,78) }}"
      },
      "id": "e31ed62a-794a-4ed8-962a-1ae32c434d3d",
      "name": "Create Doc Filename is title",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        768,
        0
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "B0gp5xhxj40sqMyE",
          "name": "Google Docs (denisson.dev)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ $('Message a model1').item.json.message.content }}"
            }
          ]
        }
      },
      "id": "873258bf-bc77-4a83-b8e3-c5621367cfb9",
      "name": "Add Final Article",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        976,
        0
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "B0gp5xhxj40sqMyE",
          "name": "Google Docs (denisson.dev)"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create Doc Filename is title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Doc Filename is title": {
      "main": [
        [
          {
            "node": "Add Final Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3b8fbb21-8df2-41fd-abff-44bebfc075f5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-28T17:36:31.254Z",
      "createdAt": "2025-11-28T17:36:31.254Z",
      "role": "workflow:owner",
      "workflowId": "QFvLylMg9TswRZTe",
      "projectId": "CK6XEsloykybki2p"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-27T22:32:06.122Z",
      "createdAt": "2025-11-27T22:32:06.122Z",
      "id": "lf6jGzaXcolij5dW",
      "name": "prod"
    },
    {
      "updatedAt": "2025-11-27T22:30:51.794Z",
      "createdAt": "2025-11-27T22:30:51.794Z",
      "id": "V4F4G6t2C5blKSYh",
      "name": "internal-infra"
    }
  ],
  "n8n_host_name ": "https://n8n.trymyapp.tech/"
}