Workflows/Send_Chat_to_Hermes.json
{
  "updatedAt": "2026-05-21T22:19:29.485Z",
  "createdAt": "2026-05-21T21:35:03.689Z",
  "id": "ZXTfHoikslJy5pHX",
  "name": "Send Chat to Hermes",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "# 🟫 STEP 1 —  ",
        "height": 300,
        "width": 2460
      },
      "id": "d235c8b2-e36a-45b5-a242-da19d5f4a3ba",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import requests\n\n# Configurações\nTOKEN = \"8044452734:AAHOE_tSQ9f5p1DyV1yv72TS-PcRTn5qKNk\"\nTARGET_CHAT_ID = 7333178169\nURL = f\"https://api.telegram.org/bot{TOKEN}/getUpdates\"\n\ntry:\n    # 1. Busca as últimas interações do Bot\n    # O parâmetro limit=100 busca as últimas mensagens (máximo permitido)\n    response = requests.get(URL, params={\"limit\": 100, \"timeout\": 10})\n    response.raise_for_status()\n    data = response.json()\n\n    results = []\n\n    if data.get(\"ok\"):\n        updates = data.get(\"result\", [])\n        \n        for update in updates:\n            # Verifica se é uma mensagem comum ou encaminhada\n            message = update.get(\"message\") or update.get(\"edited_message\")\n            \n            if message:\n                chat_id = message.get(\"chat\", {}).get(\"id\")\n                \n                # Verifica se a mensagem veio do ID específico\n                # Ou se foi encaminhada por aquele ID\n                forward_from = message.get(\"forward_from\", {}).get(\"id\")\n                \n                if chat_id == TARGET_CHAT_ID or forward_from == TARGET_CHAT_ID:\n                    results.append({\n                        \"update_id\": update.get(\"update_id\"),\n                        \"from_id\": chat_id,\n                        \"text\": message.get(\"text\"),\n                        \"date\": message.get(\"date\"),\n                        \"is_forwarded\": \"forward_from\" in message\n                    })\n\n    # Retorna os resultados para o n8n\n    return results\n\nexcept Exception as e:\n    return [{\"error\": str(e)}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        384
      ],
      "id": "e4c7b213-a8e4-48df-8e9d-a8457aec8860",
      "name": "Code in Python",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1184,
        368
      ],
      "id": "de175b80-0a9d-4db6-8825-112afd877538",
      "name": "Telegram Trigger",
      "webhookId": "d2e28542-57aa-45f1-a90f-2f07456a132e",
      "credentials": {
        "telegramApi": {
          "id": "pKlhD01FpOvAn7Qh",
          "name": "Telegram (970871830)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "7333178169",
        "text": "={{ $json.prompt }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        688
      ],
      "id": "d761cf07-9376-488d-8664-f84644d48b4f",
      "name": "Send a text message",
      "webhookId": "d407433a-8853-46a3-ad26-4786b30a98c5",
      "credentials": {
        "telegramApi": {
          "id": "pKlhD01FpOvAn7Qh",
          "name": "Telegram (970871830)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hermes.myhost.qzz.io:8644/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Type",
              "value": "={{ $json.headers['Content-Type'] }}"
            },
            {
              "name": "X-Webhook-Signature",
              "value": "={{ $json.headers['X-Webhook-Signature'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        688
      ],
      "id": "69c8e1b1-f5a6-4da5-bfd6-e62d8698d519",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18b8536b-394b-4381-bb8f-e12e7d2e03d1",
              "name": "prompt",
              "value": "Vocë recebeu este teste de entrega via n8n?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        688
      ],
      "id": "1d1f6ac4-1684-4cb3-af94-5255f31e454e",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst payload = JSON.stringify({ prompt: $json.prompt });\nconst secret = '4286245fa020715c737ae048c4230652bb8dcb8cf51ef94da434fd0c3ac57e46';\nconst signature = crypto.createHmac('sha256', secret).update(payload).digest('hex');\nreturn [{ body: payload, headers: { 'Content-Type': 'application/json', 'X-Webhook-Signature': signature } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        688
      ],
      "id": "7d6ddede-6bde-4733-a9d9-8d67e85bf911",
      "name": "Code in JavaScript",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        688
      ],
      "id": "6a933f9a-7942-468c-9d8d-b32a93bfe5ec",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import hmac\nimport hashlib\nimport json\n\n# Define o payload (substitua pelo seu dado real)\n# Nota: certifique-se de que a formatação do JSON seja idêntica (sem espaços extras),\n# pois qualquer diferença muda a assinatura (hash).\npayload = json.dumps({\"prompt\": \"seu_prompt_aqui\"}, separators=(',', ':'))\n\nsecret = '4286245fa020715c737ae048c4230652bb8dcb8cf51ef94da434fd0c3ac57e46'\n\n# O hmac em Python exige que tanto a chave quanto a mensagem sejam bytes, por isso o .encode('utf-8')\nsignature = hmac.new(\n    secret.encode('utf-8'),\n    payload.encode('utf-8'),\n    hashlib.sha256\n).hexdigest()\n\n# Retorna a estrutura em uma lista com o dicionário, igual ao seu return original\nresultado = [{\n    \"body\": payload,\n    \"headers\": {\n        \"Content-Type\": \"application/json\",\n        \"X-Webhook-Signature\": signature\n    }\n}]\n\nprint(resultado)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        384
      ],
      "id": "80211a64-d329-4ba7-ad35-e3b820ef8e24",
      "name": "Code in Python1"
    }
  ],
  "connections": {
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "84121b11-e997-4e98-8225-952e030155fc",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-21T21:35:03.689Z",
      "createdAt": "2026-05-21T21:35:03.689Z",
      "role": "workflow:owner",
      "workflowId": "ZXTfHoikslJy5pHX",
      "projectId": "1Wx1foBxVC549zxe"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-05-21T20:37:28.711Z",
      "createdAt": "2026-05-21T20:37:28.711Z",
      "id": "abtBmqmHLAEUBw28",
      "name": "internal-infra"
    }
  ],
  "n8n_host_name ": "https://n8n.myhost.qzz.io/"
}